{#  -*- coding: utf-8 -*- #}
{% import 'base_helper.tmpl' as base with context %}
{% import 'annotation_helper.tmpl' as notes with context %}
{{ set_locale(lang) }}
{{ base.html_headstart() }}
{% block extra_head %}
{#  Leave this block alone. #}
{% endblock %}
{{ template_hooks['extra_head']() }}
</head>
<body>
<a href="#content" class="sr-only sr-only-focusable">{{ messages("Skip to main content") }}</a>

<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://www.python.org.ar"><span class="inicio"></span>Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/pyar/"><span class="quienes_somos"></span>Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/foro_y_redes/"><span class="navbar_lista_de_correo"></span>Foro</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/"><span class="wiki"></span>Wiki</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.python.org.ar/noticias/"><span class="news"></span>Noticias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.python.org.ar/irc/"><span class="irc"></span>IRC</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.python.org.ar/eventos/"><span class="eventos"></span>Eventos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://planeta.python.org.ar/"><span class="pyar"></span>Planeta</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.python.org.ar/trabajo/"><span class="jobs"></span>Trabajos</a>
                </li>
            </ul>
        </div>
    </nav> 
</div>

<!-- Header and menu bar -->
<div class="container" id="content" role="main">
    <div class="body-content">
        {% if theme_config.get('sidebar') %}
            <div class="row"><div class="col-md-8 blog-main">
        {% endif %}
        <!--Body content-->
        {{ template_hooks['page_header']() }}
        <!--Searchbar-->
        <script>
            const url = "http://localhost:5500/pyar_search"
            const doSearchAction = async () => {
                fetch(url, {
                    method: "POST",
                    body: JSON.stringify({
                        pregunta: document.getElementById('pregunta').value
                    }),
                    headers: {
                        "Content-type": "application/json; charset=UTF-8"
                    }
                }).then(res => console.log('res ', res))
            }
        </script>
        <search class="wiki-search">
            <input type="search" id="pregunta" name="pregunta" placeholder="Ingrese búsqueda..." />
            <button class="search-button" type="button" onClick="doSearchAction()">Buscar</button>
        </search>
        {% block content %}{% endblock %}
        <!--End of body content-->
        {% if theme_config.get('sidebar') %}
        </div><aside class="col-md-4 blog-sidebar">{{ theme_config.get('sidebar') }}</aside></div>
        {% endif %}

        <footer id="footer">
            {{ content_footer }}
            {{ template_hooks['page_footer']() }}
        </footer>
    </div>
</div>

{{ base.late_load_js() }}
    {% if date_fanciness != 0 %}
        <!-- fancy dates -->
        <script>
        moment.locale("{{ momentjs_locales[lang] }}");
        fancydates({{ date_fanciness }}, {{ js_date_format }});
        </script>
        <!-- end fancy dates -->
    {% endif %}
    {% block extra_js %}{% endblock %}
    <script>
    baguetteBox.run('div#content', {
        ignoreClass: 'islink',
        captions: function(element) {
            return element.getElementsByTagName('img')[0].alt;
    }});
    </script>
{{ body_end }}
{{ template_hooks['body_end']() }}
</body>
</html>
